*{
  margin: 0;
  padding: 0;
}

body{
  background: #f8f8ff; //#0f0f0f;
  opasity: 0.39;
  font-size: 11px;
}
#hdr{
  height: 15px;
  width: 100%;
  color: ghostwhite;
  background: #000;
}
.list {
  display: inline-flex;
  max-width: 190px;
}
.list img{
  margin: 5px 3px;
}
.list div{
  opacity: 0
}
.list:hover > div{
  opacity: 1;
}
.list:hover img{
  opacity: 0.1
}
.show{
  position:relative;
  bottom: -41px;
  text-align: center;
}

/*Item menu*/
.mobile {
    position: fixed;
    top: 0;
    background :rgba(0, 0, 0, 0.8);
    width: 239px;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
    z-index: 1;
}
.mobile__items li{
  list-style-type: none;
  position: relative;
  top: 20px;
  margin: 42%;
}
.mobile__items a:hover{
  color: black;
  background-color: ghostwhite;
}
.mobile__items a{
  font-size: 1em;
  color: ghostwhite;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
.open {
    display: flex;
    transform: translateX(0);
}
/*big item */
.big_i{
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 55px;

}
.big_i div{
  position: relative;
  float: right;

}
input,h6{
  color: #684e5b;
  background-color: black;
}
button{

  height: 9px;
  background-color: black;
  border: 0;
}
