*{
  margin: 0;
  padding: 0;
}
body{
  background: #f8f8ff; //#0f0f0f;
  opasity: 0.39;
  font-size: 11px;
}
#hdr{
  height: 15px;
  width: 100%;
  color: ghostwhite;
  background: #000;
}

/*Item menu*/
.mobile {
    position: fixed;
    top: 0;
    background :rgba(0, 0, 0, 0.9);
    width: 239px;
    height: 100vh;
    color: black;

    text-align: center;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
    z-index: 99;
}
.mobile__items li{
  list-style-type: none;
  position: relative;
  top: 20px;
  margin-top: 12px;
}

.mobile__items a:hover{
  color: black;
  background-color: ghostwhite;
}
.mobile__items a{
  font-size: 1em;
  color: ghostwhite;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
.open {
  transform: translateX(0);
}

.list {
  display: inline-flex;
  max-width: 200px;
  margin-right: 15px;
}
.list img{
  margin: 5px 3px;
}
.list div{
  opacity: 0
}
.list:hover div{
  opacity: 1;
}
.list:hover img{
  opacity: 0.1
}
.show{
  position:relative;
  bottom: -41px;
  text-align: center;
}

/*big item */
.big_i{
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 35px;
/*  position: absolute;
  width: 100%;*/
  top: 120px;
  z-index: 9;
}
.big_i div{
  position: relative;
  float: right;
  margin-right: 50px; /* Отступ справа */
  font-weight: bold;
}
#btn{
  padding-top: 75px;
  text-align: center;
}
input,h6{
  color: #684e5b;
  background-color: black;
}
button{
  height: 9px;
  background-color: black;
  border: 0;
}
